{% extends "base.html" %}

{% block title %}Reply{% endblock %}
{% block page %}reply{% endblock %}

{% block content %}
    {{ super() }}
    <div class="day">
        <a href="{{ url_for('bp.reply_day') }}">
            <img src="{{ url_for('static', filename='images/rings.png') }}" alt="Wedding rings">
            Day
        </a>
    </div>
    <div class="evening">
        <a href="{{ url_for('bp.reply_evening') }}">
            <img src="{{ url_for('static', filename='images/drinks.png') }}" alt="Champagne flutes">
            Evening
        </a>
    </div>
{% endblock %}
