{% extends "base.html" %}

{% block title %}Running Order{% endblock %}
{% block page %}running-order{% endblock %}

{% block content %}
    <h1>Running Order</h1>
    <div class="inner">
        <p>Here's a rough outline of the big day:</p>
        <ul>
            <li><span>15:00 - </span> Wedding Ceremony</li>
            <li><span>15:30 - </span> Drinks reception and photographs</li>
            <li><span>17:00 - </span> Wedding Breakfast</li>
            <li><span>20:00 - </span> Evening reception</li>
            <li class="extra">Arrival of evening guests</li>
            <li class="extra">Live music, wedding games, and dancing</li>
            <li><span>00:00 - </span> Carriages at midnight</li>
        </ul>
    </div>
{% endblock %}
