{% extends "base.html" %}

{% block title %}Venue{% endblock %}
{% block page %}venue{% endblock %}

{% block content %}
    <h1>Venue</h1>
    <div class="inner">
        <img src="{{ url_for('static', filename='images/dorton_house.png') }}" alt="Dorton House">
        <p>We are getting married at <a href="http://dortonhouse.net/">Dorton House</a> in Buckinghamshire. There are lots of lovely hotels and inns nearby. The address, and a map of the area, are below:</p>
        <ul>
            <li>Dorton House</li>
            <li>Dorton</li>
            <li>Aylesbury</li>
            <li>HP18 9NG</li>
        </ul>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d78920.7434539008!2d-1.0158920000000033!3d51.81943900000003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4876ef0e5a800bd7%3A0x1c6b8c48387ff8e3!2sDorton%2C+Aylesbury%2C+Buckinghamshire+HP18+9NG!5e0!3m2!1sen!2suk!4v1428179114272" width="558" height="420" frameborder="0" style="border:0"></iframe>
    </div>
{% endblock %}
