.home {
    text-align: center;
    .arch {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }
    .container {
        margin-top: 10%;
        .content {
            .welcome {
                margin: 20px 0;
            }
            h1, h2 {
                font-family: 'Tangerine', cursive;
            }
            h1 {
                font-size: 3em;
                margin-bottom: 0;
            }
            h2 {
                font-size: 2em;
            }
            nav {
                ul {
                    li {
                        display: inline-block;
                        margin: 0 50px;
                    }
                }
            }
            .intro {
                margin-top: 40px;
            }
        }
    }
}