.running-order {
    .content {
        ul {
            margin-bottom: 40px;
            margin-left: 40px;
            li {
                margin: 10px 0;
                span {
                    display: inline-block;
                    width: 100px;
                    text-align: right;
                }
                &.extra {
                    font-style: oblique;
                    font-size: smaller;
                    margin: 0;
                    margin-left: 110px;
                    margin-top: -5px;
                    margin-bottom: 10px;
                }
            }
        }
    }
}