.venue {
    .content {
        img {
            border: 1px solid #000;
            width: 600px;
            margin: auto;
            margin-bottom: 20px;
            display: block;
        }
        ul {
            margin-bottom: 40px;
            margin-left: 40px;
        }
        iframe {
            padding: 1px;
            background-color: #000;
        }
    }
}